---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Navigate complexity with confidence"
	pubDate={new Date('June 01 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		At Prevalis.AI✨, we help organizations navigate complexity with confidence.
	</p>

	<p>
		Combining decades of leadership in financial services with an agile, tech-driven mindset 
		to build solutions that shape the future of finance. With roots in strategic business development,
		regulatory compliance, and digital transformation, we understand the intricacies of launching and
		scaling financial platforms in real-world environments.
	</p>

	<p>	
		From designing loan origination and debt collection systems to implementing ISO27001-certified IT
		operations and enterprise dashboards, our collective experience spans across vehicle title loans,
		personal loans, and hire-purchase businesses. We've led licensing processes with the Bank of Thailand,
		restructured organizations for data-driven decision-making, built digital marketing ecosystems 
		from the ground up, and guided organizations through profound transformation. 
	</p>

	<p>
		As a founder of Prevalis.ai, my journey — from global engineering to technology and boardroom
		strategy — reflects a relentless pursuit of progress, impact and meaningful change.
		I’m bringing together decades of experience to explore the next frontier of financial technology — 
		one that isn’t just digital, but deeply human-centered. 
	</p>

	<p>	
		The future of finance demands transformation. I believe in empowering organizations to evolve,
		intelligently and ethically, through systems that work not just efficiently—but meaningfully.
	</p>
	
	<p>
		Prevalis.ai is more than a company—it’s a catalyst for ethical evolution in finance. 
		We believe transformation is not just digital, but deeply personal.
	</p>
	
	<p>
		🤝 Let’s build something transformative.
	</p>

</Layout>
