---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h3>🧑‍🚀 What do we do?</h3>
			<p>
				Welcome to the official <a href="https://prevalis.ai/">Prevalis.AI</a> website.
			</p>
			
			<p>Here are a few ideas on how to get started with innovations!</p>
			<ul>
				<li>Blend two or more unrelated fields to discover fresh ideas !</li>
				<li>Embrace adventures or unfamiliar experiences for mental reset !</li>
				<li>Create a no-rules digital environment for experimentation.</li>
				<li>Reverse engineer breakthroughs by dissect its inner logic.</li>
				<li>Force your brain to ask 'What if?' questions!</li>
			</ul>
			<p>
				Have fun with innovation! If you get stuck, go out and get back to it later.
				And don't be afraid to ask questions!
			</p>
			<p>
				Want to know more? Check out my <a href="https://prevalis.ai/blog/">Blog</a>!
			</p>
		</main>
		<Footer />
	</body>
</html>
