---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<picture>
				<img src="/blog-placeholder-about.jpg" alt="PrevalisAI" style="width:100%; height:auto;" />
			</picture>
			<h4>🧑‍🚀 What do we do?</h4>
			<p>
				Welcome to the official <a href="https://prevalis.ai/">Prevalis.AI</a> website.
			</p>
			
			<p>
				At Prevalis.AI✨, we help organizations navigate complexity with confidence.
			</p>
			
			<p>
				Founded with a clear mission — to elevate decision-making through deep insight, agile technology, 
				and bold innovation — we deliver tailored consulting solutions at the intersection of strategy, 
				AI, fintech, and digital transformation.

				Our multidisciplinary team brings together finance expertise, engineering know-how, and cutting-edge
				backend development to help clients unlock growth and resilience in a rapidly changing world.

				Whether you're modernizing your data infrastructure, deploying AI responsibly, or building scalable 
				digital products, Prevalis stands as your trusted guide — transforming challenges into catalysts 
				for impact.
			</p>

			<p>
				Want to know more? Check out our <a href="https://prevalis.ai/blog/">Blog</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
